.jumbotron {
    background-image: linear-gradient(to right, rgb(65, 104, 150), darkblue);
}

.card p {
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-img {
    max-width: 4rem;
}

#weather-results {
    display: none;
}

#search-history {
    border-top: 0.2rem solid rgb(189, 189, 189);
}