.jumbotron {
    background-image: linear-gradient(to right, rgb(65, 104, 150), darkblue);
}

.card p {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* center the weather images */
.weather-img {
    max-width: 4rem;
    margin-left: auto;
    margin-right: auto;
}

#weather-results {
    display: none;
}

/* add a separator bar for search history */
#search-history {
    border-top: 0.2rem solid rgb(189, 189, 189);
}

/* styling for the UVI indicator */
.low {
    background-color: green;
    color: white;
}

.med { 
    background-color: orange;
    color: white;
}

.high {
    background-color: red;
    color: white;
}

.extreme {
    background-color: purple;
    color: white;
}